body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fffbe0;
  padding: 30px;
}

.container {
  border: 2px solid #ff8c00;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff8dc;
  max-width: 500px;
  margin: auto;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}
body {
    background-image: url('CHH.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
